<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Seller Dashboard</h1>
    <button (click)="logout()" class="logout-button">Logout</button>
  </header>

  <section class="welcome-section">
    <h2>Mirë se vini, Emri i Shitësit!</h2>
    <p>Shikoni statusin dhe menaxhoni pronat tuaja lehtësisht.</p>
  </section>

  <section class="stats-container">
    <div class="stat-card">
      <h3>Prona të listuara</h3>
      <p>{{ listedPropertiesCount }}</p>
    </div>
    <div class="stat-card">
      <h3>Rezervime të konfirmuara</h3>
      <p>{{ confirmedReservationsCount }}</p>
    </div>
  </section>

  <section class="actions-container">
    <button class="action-button">Menaxho Pronat</button>
    <button class="action-button" routerLink="/seller/reservations">Shiko Rezervimet</button>
    <button class="btn btn-primary"routerLink="/seller/properties/add">Shto Pronë të Re</button>
  </section>
</div>
