<div class="reservation-container">
  <h2>Reservation </h2>
  <form (ngSubmit)="createReservation()">
    <label for="checkIn">Check-In Date:</label>
    <input type="date" [(ngModel)]="newReservation.checkIn" name="checkIn" required>
  
    <label for="checkOut">Check-Out Date:</label>
    <input type="date" [(ngModel)]="newReservation.checkOut" name="checkOut" required>
  
    <button type="submit">Reserve</button>
  </form>
<ng-template #noProperty>
  <p>Property ID is missing. Unable to make a reservation.</p>
</ng-template>
</div>